.waves {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: -35px;
    z-index: 1;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    &.white {
        background-image:
            url(../img/svg/wave1.svg),
            url(../img/svg/wave2.svg),
            url(../img/svg/wave3.svg);
    }
    &.white.animated {
        background-image: url(../img/svg/wave2.svg);
        animation: wavy1 5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
        &::before, &:after {
            content: '';
            position: inherit;
            width: inherit;
            height: inherit;
            bottom: 0;
            background-position: inherit;
            background-size: inherit;
            background-repeat: inherit;
        }
        &:before {
            background-image: url(../img/svg/wave1.svg);
            animation: wavy2 8s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
        }
        &::after {
            background-image: url(../img/svg/wave3.svg);
            animation: wavy3 8s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
        }
    }
    &.ripple {
        height: 100%;
        .theme-color--bulbizarre_green & { background-image: url('../img/svg/bulbizarre-ripple.svg');}
        .theme-color--carapuce_blue & { background-image: url('../img/svg/carapuce-ripple.svg');}
        .theme-color--melofee_pink & { background-image: url('../img/svg/melofee-ripple.svg');}
        .theme-color--pikachu_yellow & { background-image: url('../img/svg/pikachu-ripple.svg');}
        .theme-color--salameche_red & { background-image: url('../img/svg/salameche-ripple.svg');}
    }
    &.billow {
        height: 100%;
        .theme-color--bulbizarre_green & { background-image: url('../img/svg/bulbizarre-billow.svg');}
        .theme-color--carapuce_blue & { background-image: url('../img/svg/carapuce-billow.svg');}
        .theme-color--melofee_pink & { background-image: url('../img/svg/melofee-billow.svg');}
        .theme-color--pikachu_yellow & { background-image: url('../img/svg/pikachu-billow.svg');}
        .theme-color--salameche_red & { background-image: url('../img/svg/salameche-billow.svg');}
    }
}