.button {
    border-radius: $pad2;
    border-color: transparent;
    padding:8px $pad1;
    font-size: 16px;
    font-family: $poppins;
    margin-top:$pad1;
    width: fit-content;
    cursor: pointer;
    a {
        color: white;
    }
    &--pink {
        background-color: var(--accent--medium);
    }
    &--blue {
        background-color: var(--theme--vivid);
    }
    &--darkblue{
        background-color: var(--theme--dark);
    }
}