.button {
    border-radius: $pad2;
    border-color: transparent;
    padding:8px $pad1;
    font-size: 16px;
    font-family: $poppins;
    margin-top:$pad1;
    width: fit-content;
    cursor: pointer;
    a {
        color: white;
    }
    &--pink {
        background-color: $accent;
    }
    &--blue {
        background-color: $theme--vivid;
    }
    &--darkblue{
        background-color: $theme--dark;
    }
}