.theme-color--bulbizarre_green {
/* -------------------------------------- */
/*                BULBIZARRE              */
/*      theme-color--bulbizarre_green     */
/* -------------------------------------- */
// /* THEME COLOR */
// /* couleur du thème déclinée dans plusieurs
// teintes et nuances */
--theme--light: #d9eccf;
--theme--vivid: #b5d0ab;
--theme--dull: #8bb77a;

/* couleur sombre qui se marie avec la couleur
principale du thème sans l'éclipser */
--theme--dark: #02698c;
--theme--black: #013446;

// /* ACCENT COLOR */
// /* couleur liée au thème qui met les choses en
// valeur ou en contraste */ 
--accent--dark: #1f4d67;
--accent--medium: #4891af;
--accent--light: #82d7ec;
--accent--white: #e1f4f9;

// /* TAINTED COLORS */
// /* couleur liée au thème marquant une
// transition avec une couleur neutre */
--theme--tainted-grey: #dde8d7;
--accent--tainted-grey: #bfdbdf;
}