footer {
    max-width: 100%;
    height: 100%;
    background: $blue_to_dark;
    padding-top:50px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0 80px;
    padding:80px;
    @include iphone12 {
        flex-direction: column;
        padding: 20px 40px;
    }
    .footer {
        width:25%;
        height:200px;
        padding:20px;
        display: flex;
        flex-direction: column;
        @include iphone12 {
            width:100%;
            height: 100%;
        }
        &--links a {
            margin: 2px 0;
        }
        &--links, &--info {
            display: flex;
            flex-direction: column;
        }
        &--search {
            border-bottom:1px solid white;
            padding-bottom:5px;
        }
        .info {
            display: flex;
            align-items: center;
            div {
                margin-left:15px;
            }
            i {
                margin:10px 0;
            }
        }
        .button {
            box-shadow: $ombre001;
        }
    }
    .footer--search {
        @include iphone12 {
            margin-bottom: 20px;
        }
    }
}

.footer__pink {
    margin-top:100px;
    width:100%;
    height:60px;
    background: $pink_to_white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include iphone12 {
        flex-direction: column;
        padding: 20px 0;
        height:100%;
    }
    .footer--icone {
       @include iphone12 {
        margin-top: 15px;
       }
    }
    a {
        margin:0 5px;
    }
}