footer {
    max-width: 100%;
    height: 100%;
    background: $black_to_dark;
    padding-top:50px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0 80px;
    padding:80px;
    @include minitablette {
        flex-direction: column;
        padding: $pad1 $pad2;
    }
    .footer {
        width:25%;
        height:200px;
        padding:$pad1;
        display: flex;
        flex-direction: column;
        @include minitablette {
            width:100%;
            height: 100%;
        }
        &--links a {
            margin: 2px 0;
        }
        &--links, &--info {
            display: flex;
            flex-direction: column;
        }
        &--search {
            padding-bottom:5px;
        }
        .info {
            display: flex;
            align-items: center;
            div {
                margin-left:15px;
            }
            i {
                margin:calc($pad1 / 2) 0;
            }
        }
        .button {
            box-shadow: $ombre001;
        }
    }
    .footer--search {
        // overflow-x: hidden;
        @include minitablette {
            margin-bottom: $pad1;
        }
        .subscribe {
            padding: 5px 0;
            overflow-x: hidden;
        }
        input {
            height: $pad3;
            background-color: transparent;
            &:focus {
                background-color: rgba($color: var(--theme--black), $alpha: .2);
            }
        }
    }
}

.footer__pink {
    margin-top:100px;
    width:100%;
    height:60px;
    background: $accent_to_white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include minitablette {
        flex-direction: column;
        padding: $pad1 0;
        height:100%;
    }
    .footer--icone {
       @include minitablette {
        margin-top: 15px;
       }
    }
    a {
        margin:0 5px;
    }
}