/***************** GENERAL RULES OF SECTION ***************/
/* fond degradé gris / bleu, une section sur 2 */ 

section:not(.single-work, .work){
    padding: $pad2 0;
    position: relative; // pour les backgrounds .wave
    * {
        z-index: 1;
    }
    overflow: hidden;
}

main {
    min-height: 100vh;
}

/* wrapper */

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    @include tablette {
        max-width: 100%;
        padding: $pad1;
    }
    .work &, .talk & {
        max-width: 100%;
        margin:0;
        padding: 0;
    }
    .work & {
        display: flex;
        flex-direction: column;
    }
    .wide &{
        max-width: 60vw;
    }
}

// Un display flex pleine largeur avant wrapper
.wide {
    display: flex;
    &--inverse{
        flex-direction: row-reverse;
    }

}

.df{
    display: flex;
    justify-content: center;
    gap: 2%;
}

section.bg, header.bg, main.bg {
    background-color: unset;
    padding: 0;
}

/****************** GENERAL RULES FONT ******************/
/* tout ce qui concerne : font family, font size, font-weight, text-decoration, box-shadow, color, line-height, etc... */

a {
    text-decoration: none;
}

h1 {
    font-size: $pad2;
    @include iphone12 {
        font-size: $title1-elastic;
    }
    font-family: $poppins;
    font-weight: 400;
    color: $dark_grey;
    span {
        font-weight: 600;
    }
}

h2 {
    font-size: $title2-elastic;
    text-align: left;
    font-family: $poppins;
    font-weight: 400;
}

h3 {
    font-size: $small-elastic;
    border-left: 5px solid $theme--dark;
    padding-left:calc($pad1 / 2);
    color: $theme--dark;
    font-family: $poppins;
    font-weight: 400;
}

h4 {
    font-size: $big-title-elastic;
    text-align: center;
    margin:0;
}

h5 {
    text-align: left;
    font-family: $poppins;
    font-weight: 400;
    color: $theme--dull;
}

h6 {
    font-size: $sub1-elastic;
    font-weight: 400;
    font-family: $poppins;
    // margin: 45px 0 15px;
}

p {
    font-family: $lora;
    letter-spacing: 1px;
    font-size: $small-elastic;
    color: $grey_text;
    line-height: $pad1;
}


/* section experience */ 

.exp__title {
    font-size: $exp-title;
    font-family: $poppins;
    font-weight: 400;
    color: $dark_grey;
    .exp__span {
        color: $theme--dull;
    }
}

.tag  {
    box-shadow: $ombre001;
    a {
        color:white;
        font-family: $poppins;
        font-size: $small-elastic;
    }
}

/* section skills */ 

.percentage__block {
    p {
        text-align: center;
        span {
            color: $dark_grey
        }
    }
}

.percentage__number {
    font-family: $poppins;
    font-weight: 400;
    font-size: $exp-title;
}

.coding__name {
    font-family: $poppins;
    font-weight: 400;
    font-size: $font-elastic;
}

/* section services */ 

.services__marketing {
    h6 {
        margin: 0
    }
    p {
        line-height: 15px;
        letter-spacing: normal;
        text-align: left;
        font-size: $very-small-elastic;
        // margin: 5px 0;
    }
}

/* feedback section*/

.feedback {
    .feedback__subtitle {
        font-family: $poppins;
        font-size: $font-mid-elastic;
    }
    span {
        font-weight: 600;
        font-family: $poppins;
        font-size: $font-mid-elastic;
    }
}

// COLUMNS
.clmn-2{
    column-count: 2;
    column-gap: 40px;
    p:first-child{
        margin-top: 0;
    }
    @include phone {
        column-count: 1;

    }
}

/* section lastest post (blog page) */ 

.read-more {
    a {
        color: $theme--dull;
        font-family: $poppins;
        text-transform: uppercase;
        padding: 10px 0;
    }
}

/* section category (blog page) */
.category 
    .--title {
    font-size: $title2-elastic;
}

/* footer */

.footer {
    p, a {
        color:white;
    }
    a {
        font-family: $poppins;
    }
    &--title {
        color:white;
        font-family: $poppins;
        font-weight: 600;
        font-size: $pad1;
        // margin-bottom:30px;
    }
    &--search {
        font-family: $poppins;
        color: $grey;
        font-size:13px;
    }
    .info {
        color:white;
        font-family: $poppins;
        font-size: $small-elastic;
    }
}

.footer__pink {
    .copyright {
        color: $theme--dark;
        font-family: $poppins;
        font-size: $font-mid-elastic;
    }
    a {
        color:black;
    }
}