/* HEADER GENERAL RULES */ 
header {
    max-width: 100%;
    height:100vh;
    position: relative;
    background-image: url(../img/bg-home.png);
    @media screen and (orientation:portrait) {
        height:50vh;
    }
}

.header {
    position: absolute;
    top: 100%; left: 50%; 
    transform: translate(-50%, -100%);  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width:100%;
    z-index: 1;
    img {
        width:48%;
        @include tablette {
            width: 40%;
        }
        @include minitablette {
            width: 45%;
        }
        @include phone {
            width: 65%;
        }
        @include iphone12 {
            width:100%;
        }
    }
}
