/******* navigation home-page ***********/ 

.nav {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 $pad2;
    align-items: center;
    z-index: 999;
    height: $nav-height;
    font-size: 18px;
    position: fixed;
    top: 0;
    box-shadow: $ombre002;
    &.sticky {
        position: fixed;
        top:0;
    }
    @include tablette {
        transition: 0.8s left ease-in-out;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: -120%;
        background: var(--theme--black);
        height: 100vh;
        opacity: 0.9;
        padding: 1.5rem calc($pad2 * 2) $pad2;
        a {
            color: $white;
        }
    }
    &.active{
        left: 0;
    }
}

.nav__logo {
    @include tablette {
        display: flex;
    }
    img {
        @include tablette {
            width:100%;
            nav.--darkbg & {
                filter: invert(1);
            }
        }
    }
    
}
.nav__menu, .nav__menu ul {
    display: flex;
    gap: 3vw;
    li {
        list-style: none;
    }
    @include tablette {
        display: flex;
        flex-direction: column;
        gap: 90px 0;
        padding-top: 60px;
    }
    a {
        padding: 0 calc($pad1 / 2);
        font-family: $poppins;
        @include tablette {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }
        .--darkbg & {
            color: $white;
        }
        .--airbg &, .section-even & {
            color: var(--theme--dark);
        }
        .--waterbg &, .section-odd & {
            color: var(--theme--dark);
        }
    }
}

/********* menu burger *****************/

// BURGER MENU
.burger {
    display: none;
    @include tablette {
        display: block;
    }
    position: fixed;
    top: 1.5%;
    right: 5%;
    width: 50px;
    height: 50px;
    z-index: 2;
    cursor: pointer;
    & span {
        width: 90%;
        position: absolute;
        top: 23%;
        left: 7%;
        border-bottom: .3rem solid var(--theme--dark);
        nav.--darkbg & {
            border-color: $white;
        }
        transition: 0.3s all ease-in-out;
        &:nth-of-type(2) {
            top: 47%;
            left: 7%;
        }
        &:nth-of-type(3){
            top: 70%;
            left: 7%;
        }
    }
    &.active {
        width: 7px;
        border-radius: 20px;
        span {
            border-bottom: 6px solid var(--theme--dark);
            border-radius: 20px;
            transition: 0.3s all ease-in-out;
        }
    }
}