main, section {
    &.--airbg, &.section-even {
        background: $gray_to_white;
        &--dark {background: $dark_to_blue;}
    }
    &.--waterbg, &.section-odd {
        background: $blue_to_white;
        &--dark {background: $dark_to_blue;}
    }
}

.widgets {
    background: $gray_to_white;
}