header, main, section, nav {
    transition: all .3s ease-in-out;
    &.--airbg, &.section-even {
        background: $accent-taint_to_white;
        &.core { background: $ultra_light; }
        &>aside.widgets {background: $theme_to_white}
    }
    &.--waterbg, &.section-odd {
        background: $theme_to_white;
        &.core { background: $ultra_light; }
        &>aside.widgets {background: $accent-taint_to_white}
    }
    &.--darkbg:not(.bg) {
        background: $dark_to_vivid;
        &>aside.widgets {background: $accent-taint_to_white}
    }
}