/* GENERIC COLORS */

/* white */
$white: #fff;
$ultra_light: #fdfdfd;
$light_grey: #e4e4e4;

/* medium grey */
$grey_lighter: #ccc;
$grey: #888; 
$grey_text: #777;

/* dark grey */ 
$dark_grey: #333;

/* OPACITY*/

$black_opacity: rgba(0, 0, 0, 0.5);
$white_opacity: rgba(255, 255, 255, 0.5);
$grey_red_opacity:rgba(255, 255, 255, 0.523);

/* FONT */ 

$poppins: 'Poppins', sans-serif;
$lora: 'Lora', serif;

/* OMBRES */ 

$ombre001 : rgba(0, 0, 0, 0.24) 0px 3px 8px;
$ombre002: 0 20px 20px rgb(0 0 0 / 20%);

/* MARGIN PADDING */
$pad0-5: 0.5rem;
$pad1: 1rem;
$pad1-5: 1.5rem;
$pad2: 2rem;
$pad3: 3rem;
$pad6: 6rem;
$nav-height: 70px;

// responsive font size

$very-big-title-elastic: calc(64px + .64vw);
$big-title-elastic: calc(50px + .50vw);
$title1-elastic: calc(30px + .30vw);
$exp-title: calc(25px + .25vw);
$title2-elastic: calc(24px + .24vw);
$title3-elastic: calc(20px + .20vw);
$sub1-elastic: calc(18px + .18vw);
$font-elastic: calc(16px + .16vw);
$littlepad: calc(15px + .15vw);
$font-mid-elastic: calc(14px + .14vw);
$small-elastic: calc(13px + .13vw);
$very-small-elastic: calc(12px + .12vw);