/****************** ABOUT US ******************/ 

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 60px;
    margin:50px $pad2;
    @include minitablette {
        flex-direction: column;
        margin:calc($pad1 / 2) $pad2;
    }
}

/* l'image */ 

.about__image {
    @include minitablette {
        width:100%;
        height:200px;
    }
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        border-radius: $pad2;
        box-shadow: $ombre001;
        object-position: 0px 65%;
        @include minitablette {
            width: 100%;
            height: 100%;
        }
    }
}

/* le text */

.about .about__text {
    margin-top:$pad1;
}

.about__text {
    width:50%;
    @include minitablette {
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        width:100%;
        @include minitablette {
            text-align: center;
        }
    }
}