/****************** CLIENTS ******************/ 

.clients {
    width:100%;
    min-height: 75vh;
}

.clients__block {
    height:100%;
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    @include tablette {
        flex-wrap: wrap;
    }
    .clients__logos {
        margin:$pad1 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        width:100%;
        height:30vh;
        position: relative;
        border-radius: $pad1;
        padding: $pad1;
        img {
            object-fit: scale-down;
            margin: 0 auto;
            border-radius: 1rem;
        }
    }
}

// Carousel
.swiper-container {
    width: 20vw;
    @include tablette {
        width: 40vw;
    }
    height: 19vh;
    margin-top: 4vh;
} 
