/****************** EXPERIENCES ******************/ 

/* toutes les expériences */ 
.experiences__all {
    padding: $pad2 0;
}

/* une expérience */
.exp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
    margin: $pad2;
    @include tablette {
        height: 100%;
        flex-direction: column;
        align-items: center;
    }
    > * {
        padding: 0 $pad1;
    }
}

/* colonne 001 */
.exp__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include tablette {
        width:100%;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: $pad2;
    }
    @include iphone12 {
        justify-content: center;
    }
    > * {
        @include tablette {
            margin-top: $pad1 0;
        }
    }
    .exp__logo__img {
        background-color: white;
        width:80px;
        height:80px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: $ombre001;
        margin-top:30px;
        @include tablette {
            margin-top:0px;
        }
        img {
            width:80%;
            height:80%;
            object-fit: cover;
        }
    }
}

/* colonne 002 */
.exp__timeline {
    height:100%;
    position: relative;
    @include tablette {
        display: none;
    }
    .exp__line {
        border: 1px solid $theme--dark;
        height:100%;
        overflow: hidden;
        display: inline-block;
    }
    .exp__block {
        background-color: $theme--dark;
        width:$pad1;
        height:$pad1;
        border-radius: $pad1;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,-0%);
        
    }
}

/* colonne 003 */ 
.exp__text {
    width:40%;
    @include tablette {
        width:100%;
    }
    :first-child {
        margin-top: $pad1;
    }
    p {
        width: 100%;
        span {
            font-weight: 600;
            color: $dark_grey;
        }
    }
}

/* colonne 004*/ 
.exp__tag {
    display: flex;
    flex-wrap: wrap;
    width:350px;
    gap:calc($pad1 / 2);
    margin: $pad1 0;
    @include tablette {
        width:100%;
    }
    .tag {
        background-color: $theme--vivid;
        border-radius: $pad1;
        padding:5px calc($pad1 / 2);
    }
}
