
// SECTION LASTEST POST

.lastestpost {
    
    // BLOG NEWS
    
    .blog__news {
        display: grid;
        padding:calc($pad1 / 2) $pad1;
        grid-template-columns: 60% 30%;
        grid-template-rows: 18% 18%;
        gap: $pad2;
        
        // GENERAL FOR BLOCK
        
        .blog__block {
            width:100%;
            height:100%;
        }
        
        // ELEMENT INSIDE
        
        hr {
            color: $gray;
            margin-top: $pad1;
            opacity: 50%;
        }
        .read-more {
            padding: $pad1 0;
        }
        
        // BLOCK NUMERO 1
        
        .block__full {
            /* colonne 1 - largeur 1 */
            grid-column: 1 ;
            /* ligne 1 - largeur 3 */
            grid-row: 1 / 3 ;
            flex-direction: column;
            padding:0;
            .blog__image {
                width:100%;
                height:60%;
                img { 
                    width:100%;
                    object-fit: cover;
                    object-position: 0px 20%;
                }
            }
            .blog__text {
                padding: $pad2;
                height: 40%;
                width:100%;
            }
        }
        
        // BLOCK NUMERO 2 & 3 
        .blog__block:nth-of-type(2), .blog__block:nth-of-type(3)  {
            .full__tag {
                margin-top: $pad1
            }
        }
        
        // BLOCK NUMERO 2
        
        .blog__block:nth-of-type(2) {
            /* colonne 2 - largeur 1 */
            grid-column: 2 ;
            /* ligne 1 - largeur 1*/ 
            grid-row: 1 ;
        } 
        
        // BLOCK NUMERO 3
        
        .blog__block:nth-of-type(3) {
            /* colonne 2 - largeur 1 */
            grid-column: 2 ;
            /* ligne 2 - largeur 1*/
            grid-row: 2 ;
        }
    }
}

// TITRE POUR BLOCK FULL

.full__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// TAG  

.full__tag {
    display: flex;
    padding: 5px $pad1;
    margin-right: $pad2;
    box-shadow: $ombre001;
    border: 1px solid white;
    width: fit-content;
    border-radius: 20px;
    i {
        padding-right: 10px;
    }
    .full__category {
        font-family: $poppins;
    }
}

// DATE

.blog__date {
    position: absolute;
    display: flex;
    top:0;
    left:100%;
    transform: translate(-100%, -0%);
    background-color: $white_opacity;
    border-radius: 0 $pad1 0 $pad1;
    padding: 10px 15px;
    font-size: 14px;
    font-family: $poppins;
    i {
        padding-right: 10px;
    }
}