/****************** SKILLS ******************/ 

.skills {
    width: 100%;
    span {
        font-weight: bold;
    }
}

.skills__block {
    width: 50%;
    margin: 100px auto 40px;
    @include iphone12 {
        margin: 0 40px;
        width:100%;
    }
}

/* percentage */ 

.percentage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 30px;
    margin:30px 0;
    @include iphone12 {
        gap: 0 20px;
    }
    .percentage__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include iphone12 {
            width:25%;
        }
        .percentage__number {
            width:125px;
            height:125px;
            border-radius: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include iphone12 {
                width: 100px;
                height: 100px;
            }
        } 
    }
}

/*la couleurs des ronds*/
.percentage__block:nth-of-type(1) .percentage__number {
    border: 8px solid $dark_pink;
}
.percentage__block:nth-of-type(2) .percentage__number {
    border: 8px solid $pink;
}
.percentage__block:nth-of-type(3) .percentage__number {
    border: 8px solid $light_pink;
}

/* les deux colonnes*/

.skills__colonne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:1000px;
    margin:0 auto;
    @include iphone12 {
        flex-direction: column;
        width:100%;
    }
}

.skills__left, .skills__right {
    width:50%;   
    @include iphone12 {
        width:100%;
    } 
    .skills__title {
        margin:0 auto;
        width:350px;
        @include iphone12 {
            width:275px;
        }
    }
}

/* l'intérieur des colonnes */

.coding {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:30px 0;
    p { margin: 0 
    }
}

.coding__block {
    margin: 10px 0;
    width:70%;
    .coding__rod {
        background-color: $pink;
        width:100%;
        height:10px;
        border-radius: 30px;
        margin:10px 0;
    }
    .coding__text {
        display: flex;
        justify-content: space-between;
    }
}