/****************** TALK ******************/ 

.talk {
    background-image: url(../img/contact-me-launch.jpg);
    background-position: center;
    background-size: cover;
    padding: 0;
    background-attachment: fixed;
}

.overlay {
    background-color: rgba(0,0,0,0.5); 
    width:100%;
    padding:calc($pad1 / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    @include tablette {
        min-height: 100vh;
    }
}