.single-blog {
  // HEADER
  header {
    height: 50vh;
    position: relative;
    background: center/cover;
  }
  
  .head-bg {
    position: absolute;
    
    img {
      object-fit: cover;
      object-position: center;
    }
  }
  
  .marker {
    font-family: $poppins;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: $grey_red_opacity;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include phone {
      flex-direction: column;
    }
    
    .__text {
      margin-left: 100px;
      h1, h2, h3 {
        font-weight: 600;
        font-size: 24px;
      }
    }
    
    .__date {
      background: $theme--dull;
      color: $white;
      height: 100%;
      width: 150px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }
  
  // CORE
  // LEFT
  .core {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    .article {
      width: 70%;
      margin: 40px 0px;
      
      .the-article {
        width: 70%;
        margin: 0 auto;
        
        img {
          width: 100%;
          padding: 50px 0;
          border-radius: 40px;
          overflow: hidden;
        }
      }

      @include tablette {
        width: 100%;
      }
    }
    
    .widgets {
      width: 30%;
      .articles {
        padding: 50px 0;
      }
      
      @include tablette {
        display: none;
      }
    }
    
    .art-categories {
      display: flex;
      flex-direction: row;
      width: 70%;
      margin: 0 auto;
      
      .__single-cat {
        display: flex;
        flex-direction: row;
      }
      
      .__icon {
        width: 15px;
      }
    }
    
    // LEFT
    
    .blog__image {
      img {
        width: 100%;
      }
    }
    
    .__thetags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    .__icon {
      width: 15px;
    }
  }
  
  // BLOG
  .blog__block2 {
    max-width:350px;
    margin: 0 auto;
    border-radius: $pad2;
    height:300px;
    display: flex;
    align-items: center;
    background-color: $white;
    padding:$pad1;
    box-shadow: $ombre001;
    
    .blog__image {
      width: 850px;
      height:90%;
      img {
        width:100%;
        border-radius: $pad1;
        height:100%;
        object-fit: cover;
        object-position: top;
      }
    }
    .blog__text {
      margin: 0 $pad1;
      h6 {
        margin:0;
      }
      .button {
        margin-top:5px;
      }
    }
  }
  
  // MODIFIERS
  .--whitetxt {
    color: $white;
  }
  
  .--marginleft {
    margin-left: 30px;
  }
  
  .--bigtitle {
    font-size: 30px;
  }
  
  .--padbot {
    padding-bottom: 50px;
  }
  
  .--littlepadbot {
    padding-bottom: 10px;
  }
  
  .--marginbot {
    margin-bottom: 30px;
  }
  
  .--padtopbot {
    padding: 5px 0;
  }
  
  .--colorblack {
    color: black;
  }
}