/****************** EN TÊTE DES SECTIONS ******************/
.single-work{
    
    
    //HEADING
    header{
        height: 100%;
        
    }
    .heading{
        align-items: unset;
    }
    
    // SECTION SINGLE WORK
    .single-work{
        padding: 0;
        overflow: visible;
        .container-sticky{
            position: relative;
            height: 160vh;
            @include tablette {
                height: 300vh;
                
            }
            .sticky-one{
                padding-top: $pad2;
                z-index: 1;
                position: absolute;
                top: 0;
                background: $accent-taint_to_white;
                width: 100%;
            }
            .sticky-one-inside{
                margin: 8vh 10vw 0 10vw;
                
            }
            .sticky-two{
                text-align: center;
                position: sticky;
                top: 0;
                z-index: 0;
                height: 60%;
                @include iphone12 {
                    height: 40%;
                    
                }
                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .content{
            padding-bottom: 4rem;
            p, blockquote,
            h1, h2, h3, h4, h5, h6 {
                max-width: $phone;
                margin-left: auto;
                margin-right: auto;
                font-weight: 400;
                line-height: 2em;
                color: $white;
            }
            a {
                color: var(--accent--medium);
            }
        }
    }   
}

.single-work-inside{
            
    .img-top img {
        border-radius: 0 0 $pad2 $pad2;
    }
    
    .wp-block-image,
    .wp-block-image:not(.is-style-rounded) {
        margin-top: $pad2;
        margin-bottom: $pad2;
        img {
            border-radius: $pad2;
        }
    }

    img{
        width: 100%;
    }
    .single-work-txt{
        display: flex;
        padding-bottom: 2rem;
        @include tablette {
            flex-direction: column;
        }
        .block-info, .block-txt{
            width: 50%;
            margin-top: 1vh;
            @include tablette {
                width: 100%;
                
            }
        }
    }
}