/****************** EN TÊTE DES SECTIONS ******************/
.page-works{
    font-weight: 500;
    //HEADING
    header{
        height: 100%;
        
    }
    //SECTION GROW & STAND OUT
    
    .work{
    .singlework__text{
        margin-left: 0.5vw;
        @include phone {
            margin-left: 1.1vw;

        }
    }
.work__image{
    flex-wrap: wrap;
    padding-right: $pad0-5;
    img{
        margin: $pad0-5 $pad0-5;
    }
}

}


}


