/****************** EN TÊTE DES SECTIONS ******************/
.page-works{
    font-weight: 500;
    //HEADING
    header{
        height: 100%;
        
    }
    //SECTION GROW & STAND OUT
    
    .work{
    
.work__image{
    flex-wrap: wrap;
    img{
        margin: 0.5rem 0.5rem;
    }
}

}


}


